<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    
    <!-- Location to custom editor components -->
    <controlSources>
      <source mode="on" namespace="Sitecore.Web.UI.XmlControls" folder="/Editor" deep="true" />
    </controlSources>
    
    <!-- Editor Scripts -->
    <clientscripts>
      <htmleditor>
        <!-- Custom -->
        <script src="/Editor/InsertAccordion/toolbar-button.js" language="javascript" />
      </htmleditor>
    </clientscripts>

    <!-- Editor Stylesheets -->
    <clientstylesheets>
      <htmleditor>
        <!-- Generic -->
        <style src="/Editor/normalize.css" />
        <style src="/Editor/editor-control.css" />
        <!-- Custom -->
        <style src="/Editor/InsertAccordion/editor-control-accordion.css" />
      </htmleditor>
      <experienceeditor>
        <!-- Generic -->
        <style src="/Editor/editor-control.css" />
        <style src="/Editor/InsertAccordion/editor-control-accordion.css" />
      </experienceeditor>
    </clientstylesheets>

  </sitecore>
</configuration>