@using Editor
<h1 class="contentTitle">
    @Html.Sitecore().Field("Title")
</h1>
<div class="contentDescription">
    @Html.Sitecore().RichTextEditorField("Text", "~/Views/RichTextEditorComponents/Index.cshtml")
</div>