@using Sitecore.Mvc
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>
        @Html.Sitecore().Field("title", new { DisableWebEdit = true })
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="CODE_LANGUAGE" content="C#" />
    <meta name="vs_defaultClientScript" content="JavaScript" />
    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
    <link href="/default.css" rel="stylesheet" />

    @{
        if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
        {
            <link href="~/Editor/InsertAccordion/editor-control.css" rel="stylesheet" />
        }
        else
        {
            <link href="~/resources/accordion/style.css" rel="stylesheet" />
            <script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
            <script src="~/resources/accordion/script.js"></script>
        }
    }
</head>
<body>
    <div id="MainPanel">

        <div id="CenterColumn">
            
            <div id="InnerCenter">
                <div id="Header">
                    <img src="-/media/Default Website/sc_logo.ashx" alt="Sitecore" id="scLogo" />
                </div>
                <div id="Content">
                    <div id="LeftContent">
                        <div>                                
                            @Html.Sitecore().Placeholder("content")
                        </div>
                    </div>
                </div>
                <div id="Footer"><hr class="divider" />&#169; 2016 Sitecore</div>
            </div>

        </div>

    </div>
</body>
</html>